.jumbotron  {
    margin-top: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;
    text-align: center;
    border-radius: 0px;
    background-image: url('../images/jumboBackground.gif');
    color: navy;
}

.animals-button {
    margin: 10px;
    float: none;
    border-radius: 0px;
}

#addAnimals {
    margin: 10px;
    width: 200px;
    border-radius: 0px;
}

#animals    {
    margin: 10px;
}

#animalsCreate  {
    width: 95%;
}

.card{
    border-radius: 0px;
}

.card-header{
    margin-bottom: 10px;
}

.card-text  {
    margin-left: 10px;
}

.form-control{
    border-radius: 0px;
}

#footer    {
    color: #e9ecef;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    bottom: 0;
    width: 100%;
}